/* * {
	pointer-events: none !important ;
} */
.leaflet-control-attribution {
	display: none;
}

body {
	margin: 0;
	padding: 0;
}

#map {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 50%;
	z-index: 1;
}
.centered-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #f2f2f2;
	padding: 20px;
	border: 1px solid #ccc;
	z-index: 2000;
	font-size: 35px;
}

img {
	max-width: 100%;
	height: 67.5;
}
li {
	list-style-type: none;
	margin: 10px;
}
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	text-align: center;
}

.bg-dark {
	height: 80px;
	background-color: #343a40;
}

.navbar-expand-lg .navbar-collapse {
	display: flex !important;
	height: 80px;
	flex-basis: auto;
	color: white;
	justify-content: center;
}

.nav-link {
	align-items: center;
	height: 80px;
}
.navbar-nav .nav-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
}

.navbar-nav .nav-item img {
	margin-right: 10px;
	margin-left: 10px;
}
.navbar-nav .nav-item,
.navbar-nav .nav-link {
	font-size: 1.8em !important;
	width: 400px !important;
}
#satellite-icon {
	width: 65px;
	height: 65px;
}
#battery-icon {
	width: 40px;
	height: 65px;
}
#satellites {
	width: 87.72px;
	margin-right: 10px;
}
#latitude {
	width: 66.81px;
	margin-right: 40px;
}
#longitude {
	width: 66.22px;
	margin-right: 30px;
}
#batteryCharge {
	width: 38.97px;
	margin-right: 7px;
}
#batteryVoltage {
	width: 39.28px;
	margin-right: 20px;
}
#batteryCurrent {
	width: 31.05px;
	margin-right: 20px;
}
.map-overlay {
	position: absolute;
	top: 60%;
	left: 22%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 300px;
	max-width: 100%;
	max-height: 100%;
	z-index: 999;
}

.marker {
	transform-origin: center center;
	transition: transform 0.3s ease;
	transform: rotate(45deg);
}

.horizon {
	position: absolute;
	width: 280px;
	height: 280px;
	left: 14%;
}
body > div.info-zone > div.map-overlay > div.horizon > canvas {
	position: absolute;
	width: 280px;
	height: 280px;
	max-width: 280px;
	max-height: 280px;
	z-index: 999;
}
#white_frame {
	position: absolute;
	width: 280px;
	height: 280px;
	z-index: 1000;
	left: 14%;
}
#horizont-line {
	position: absolute;
	top: 53%;
	left: 50%;
	z-index: 1000;
	height: 40px;
	width: 200px;
	transition: transform 0.5s ease;
	transform: translate(-50%, -50%);
}
.compass {
	position: absolute;
	width: 280px;
	height: 280px;
	right: 14%;
}
.map-overlay-compass {
	position: absolute;
	top: 0px;
	width: 280px;
	height: 280px;
	z-index: 999;
}
.map-overlay-arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 114px;
	height: 114px;
	background-image: url('./images/marker.png');
	background-size: cover;
	transition: transform 0.3s ease;
	z-index: 999;
}
#azimuth {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 36px;
	text-align: center;
	z-index: 1000;
}

.servo_output_raw {
	position: absolute;
	left: 75%;
	top: 50%;
	height: 280px;
	width: 1000px;
	overflow: hidden;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transform: translate(-50%, -50%);
	z-index: 1002;
}
.engine-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1001;
}

.rear-engine-strip-image {
	height: 100px !important;
	width: 12px !important;
	float: left;
}
.engine-strip-image {
	height: 9px !important;
	width: 30px !important;
	position: absolute;
	transition: bottom 0.5s ease;
}

.engine-container .power-text {
	position: absolute;
	bottom: -90px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	line-height: 1.5;
	font-size: 54px;
}

.engine-container .engine-number {
	position: absolute;
	bottom: 110px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 54px;
}

.place_for_flight_mode {
	position: absolute;
	top: 0%;
	left: 22%;
	transform: translateX(-50%);
	width: 300px;
	max-width: 100%;
	z-index: 999;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#flightMode {
	color: rgb(195, 160, 221);
	font-size: 52.5px;
	margin-bottom: 0px;
}
.camera-view {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 50%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.camera-text {
	color: white;
	font-size: 36px;
}

.info-zone {
	position: fixed;
	top: 80px;
	left: 0;
	width: 100%;
	height: calc(50% - 60px);
	z-index: 2;
	background-color: #191c1f;
}

#indicator {
	position: absolute;
	border: 2px solid white;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.1);
	width: 110px;
}

.place_for_speed {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 150px;
	height: 280px;
}
#speed {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	font-size: 45px;
	color: rgb(255, 255, 131);
	z-index: 1004;
	text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
.place_for_altitude {
	position: absolute;
	height: auto;
	top: 0%;
	right: 0%;
	width: 150px;
	height: 280px;
}
#altitude {
	position: absolute;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	font-size: 45px;
	color: rgba(0, 255, 255);
	z-index: 1004;
	text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
.altitude-speed {
	position: absolute;
	height: 300px;
	width: 800px;
	left: 0%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

img[src='./images/left-background_for_speed-altitude.png'] {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 110px;
	height: 45.42px;
	z-index: 1003;
}
img[src='./images/right-background_for_speed-altitude.png'] {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 110px;
	height: 45.42px;
}
