body {
	margin: 0; /* Удаляет внешние отступы для body */
	padding: 0; /* Удаляет внутренние отступы для body */
}

#map {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 50%; /* Занимает половину ширины экрана */
	height: 50%; /* Занимает половину высоты экрана */
	z-index: 1; /* Отображается под другими элементами */
	pointer-events: none;
}

/* header */
img {
	max-width: 100%; /* Устанавливает максимальную ширину для изображений на 100% родительского контейнера */
	height: 67.5; /* Задает фиксированную высоту изображений на 45 пикселей */
}
li {
	list-style-type: none; /* Убираем маркеры */
	margin: 10px;
}
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	text-align: center; /* Центрируем текст внутри навбара */
}

.bg-dark {
	height: 80px;
	background-color: #343a40; /* Цвет навбара */
}

.navbar-expand-lg .navbar-collapse {
	display: flex !important;
	height: 80px;
	flex-basis: auto;
	color: white;
	justify-content: center; /* Центрируем элементы навбара по горизонтали */
}

/* Стиль для сообщения, которое придёт в случае если нету координат. */
.centered-message {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #f2f2f2;
	padding: 20px;
	border: 1px solid #ccc;
}

.nav-link {
	align-items: center; /* Выравнивание по вертикали - элементы в пункте меню располагаются по вертикали */
	height: 80px; /* Задает высоту пунктов меню на 60 пикселей */
}
.navbar-nav .nav-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
}

.navbar-nav .nav-item img {
	margin-right: 10px;
	margin-left: 10px;
}
.navbar-nav .nav-item,
.navbar-nav .nav-link {
	font-size: 1.8em !important; /* Увеличиваем размер шрифта в 1.5 раза */
	width: 400px !important;
}
#satellite-icon {
	width: 65px;
	height: 65px;
}
#battery-icon {
	width: 40px;
	height: 65px;
}
#satellites {
	width: 87.72px;
	margin-right: 10px;
}
#latitude {
	width: 66.81px;
	margin-right: 40px;
}
#longitude {
	width: 66.22px;
	margin-right: 30px;
}
#batteryCharge {
	width: 38.97px;
	margin-right: 7px;
}
#batteryVoltage {
	width: 39.28px;
	margin-right: 20px;
}
#batteryCurrent {
	width: 31.05px;
	margin-right: 20px;
}
.map-overlay {
	position: absolute;
	top: 60%;
	left: 22%;
	transform: translate(-50%, -50%);
	width: 600px; /* или нужная вам ширина */
	height: 300px; /* или нужная вам высота */
	max-width: 100%; /* чтобы не выходило за границы .info-zone */
	max-height: 100%; /* чтобы не выходило за границы .info-zone */
	z-index: 999; /* или любое другое подходящее значение */
}

.map-overlay-image {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 150px;
}

.marker {
	transform-origin: center center; /* Указывает точку поворота в центре изображения */
	transition: transform 0.3s ease; /* Добавляет плавность перехода при изменении свойства transform */
	transform: rotate(45deg); /* Применяет поворот изображения на 45 градусов */
}
.leaflet-marker-icon {
	pointer-events: none !important;
}

#azimuth {
	position: absolute;
	top: 50%;
	left: 76%;
	transform: translate(-50%, -50%);
	width: 80px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 36px;
	text-align: center;
	z-index: 1000;
	pointer-events: none;
}
.container {
	min-height: 100vh; /* Задает минимальную высоту контейнера на 100% видимой области экрана */
	display: flex;
	flex-direction: column;
}

.horizon {
	position: relative;
	width: 280px;
	height: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
}

body > div.info-zone > div.map-overlay > div.horizon > canvas {
	position: absolute;
	width: 280px;
	height: 280px;
	max-width: 280px;
	max-height: 280px;
	z-index: 999;
}
.map-overlay-compass {
	position: absolute;
	top: 0px;
	right: 5px;
	width: 280px;
	height: 280px;
	z-index: 999;
}

.map-overlay-arrow {
	position: absolute;
	top: 50%;
	left: 76%;
	transform: translate(-50%, -50%);
	width: 114px;
	height: 114px;
	background-image: url('./images/marker.png');
	background-size: cover;
	transition: transform 0.3s ease;
	z-index: 999;
}
#white_frame {
	position: absolute;
	width: 280px;
	height: 280px;
	z-index: 2999;
	pointer-events: none;
}
#horizont-line {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	height: 40px;
	width: 200px;
	transition: top 0.5s ease-in-out;
	transition: transform 0.5s ease;
}
/* update_servo_output_raw */
.servo_output_raw {
	position: absolute;
	left: 75%;
	top: 50%;
	height: 280px; /* Увеличиваем высоту блока в 1.5 раза */
	width: 1000px;
	overflow: hidden;
	display: flex;
	justify-content: space-evenly;
	align-items: center; /* Центрирование содержимого по вертикали */
	transform: translate(
		-50%,
		-50%
	); /* Центрирование блока по вертикали и горизонтали */
	z-index: 1002;
}
.engine-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1001;
}

.rear-engine-strip-image {
	height: 100px !important; /* Увеличиваем высоту изображения в полтора раза */
	width: 12px !important; /* Максимальная ширина изображения rear-engine-strip-image */
	float: left; /* Выравнивание по левому краю */
}
/* Добавляем анимацию только для маркеров */
.engine-strip-image {
	height: 9px !important;
	width: 30px !important; /* Максимальная ширина для Engine Strip */
	position: absolute; /* Абсолютное позиционирование */
	transition: bottom 0.5s ease; /* Продолжительность анимации 0.5 секунды с плавным эффектом */
}

.engine-container .power-text {
	position: absolute; /* Абсолютное позиционирование */
	bottom: -90px; /* Располагаем элементы относительно нижней границы .engine-container */
	left: 50%; /* Располагаем элементы по центру горизонтально */
	transform: translateX(-50%);
	color: white; /* Устанавливаем белый цвет текста */
	line-height: 1.5; /* Добавим интерлиньяж в 1.5 раза размера шрифта */
	font-size: 54px; /* Увеличиваем размер шрифта в 1.5 раза */
}

.engine-container .engine-number {
	position: absolute; /* Абсолютное позиционирование */
	bottom: 110px; /* Располагаем элементы относительно нижней границы .engine-container */
	left: 50%; /* Располагаем элементы по центру горизонтально */
	transform: translateX(-50%);
	color: white; /* Устанавливаем белый цвет текста */
	font-size: 54px; /* Увеличиваем размер шрифта в 1.5 раза */
}

.place_for_flight_mode {
	position: absolute;
	top: 0%;
	left: 22%;
	transform: translateX(-50%);
	width: 300px;
	max-width: 100%;
	z-index: 999;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#flightMode {
	color: rgb(195, 160, 221);
	font-size: 52.5px;
	margin-bottom: 0px;
}
.camera-view {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50%; /* Занимает половину ширины экрана */
	height: 50%; /* Занимает половину высоты экрана */
	background-color: black; /* Закрашиваем область чёрным цветом */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1; /* Отображается под другими элементами */
}

.camera-text {
	color: white;
	font-size: 36px;
	pointer-events: none;
}

/* Общие стили для информационной зоны */
.info-zone {
	position: fixed;
	top: 80px; /* Учитываем высоту навбара */
	left: 0;
	width: 100%; /* Занимает всю доступную ширину */
	height: calc(
		50% - 60px
	); /* Занимает половину высоты экрана, вычитая высоту навбара */
	z-index: 2; /* Отображается поверх карты и видео */
	background-color: #191c1f; /* Цвет навбара */
}

#map
	> div.leaflet-pane.leaflet-map-pane
	> div.leaflet-pane.leaflet-overlay-pane
	> svg
	> g
	> path {
	pointer-events: none;
}

#indicator {
	position: absolute; /* Фиксированное позиционирование */
	border: 2px solid white; /* Добавляем белый контур */
	z-index: 999; /* Оставляем таким же */
	background-color: rgba(255, 255, 255, 0.1);
	width: 110px;
}

.place_for_speed {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 150px;
	height: 350px;
}
#speed {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-70%, -50%);
	font-size: 35px;
	color: rgb(255, 255, 131);
}
.place_for_altitude {
	position: absolute;
	height: auto;
	top: 0%;
	right: 0%;
	width: 150px;
	height: 350px;
}
#altitude {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-45%, -50%);
	font-size: 34px;
	color: rgba(0, 255, 255); /* Цвет текста altitude */
}
.altitude-speed {
	position: absolute;
	height: 280px;
	width: 838px;
	top: 21%;
	left: 0%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

img[src='./images/left-background_for_speed-altitude.png'] {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 110px;
	height: 45.42px;
}
img[src='./images/right-background_for_speed-altitude.png'] {
	position: absolute;
	top: 50.6%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 110px;
	height: 45.42px;
	right: 0;
}
